*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap;');

:root{
--main-text: hsl(215, 51%, 70%);
--ethereum-text: hsl(178, 100%, 50%);
--body-bg: hsl(217, 54%, 11%);
--card-bg: hsl(216, 50%, 16%);
--border-line-color: hsl(215, 32%, 27%);
--heading-text: hsl(0, 0%, 100%);
--paragraph-size: 18px;
--font-light:300;
--font-medium:400;
--font-bold: 600;
--font-family: 'Outfit', sans-serif;
--round-corner: 15px;
}

html{
    background-color: var(--body-bg);
    font-family: var(--font-family);
    font-weight:var(--font-light);
}

body{
    margin: 2rem 2rem 0 2rem;
    color: var(--main-text);
}

.container{
    background-color:var(--card-bg);
    max-width:400px;
    margin: auto;
    padding:20px;
    border-radius: var(--round-corner);
}

img{
    max-width:100%; /*The image always fits into the container 
    of the device its been viewed on */
    height:auto;
    border-radius: var(--round-corner);

}

.container .main-image{
    position: relative;
}

.container .main-image div{
    position: absolute;
    width: 100%;
    height:calc(100% - 4px);
    background-color:var(--ethereum-text);
    border-radius: 15px;
    top: 0; /*Place directly over the main image */
    z-index: 999;
    opacity: 0;
    transition: opacity 0.535s ease-in-out;
}

.container .main-image div img{
    /*To perfectly center the view image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .main-image div:hover{
    opacity: 1;
    cursor: pointer;
}

h1{
    margin: 1.5rem 0 1rem 0;
    font-weight: 600;
}

h1, span{
    color:var(--heading-text);
    font-weight: var(--font-bold);
}

h1:hover, p span:hover{
    color:var(--ethereum-text);
    cursor:pointer;
}

p{
    color:var(--main-text);
    font-size: var(--paragraph-size);
    line-height: 1.8rem;
}

.container ul{
    list-style-type: none;
    margin: 1.5rem 0 1rem 0;
}

.container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.container ul li img{margin-right: .6rem;}

.container ul li:first-child{
    color: var(--ethereum-text);
}

footer{
    display: flex;
    justify-content: start;
    align-items: center;
    border-top:1px solid var(--border-line-color);
    padding-top: 15px;
}

footer img{
    width: 3rem;
    height: auto;
    border:2px solid var(--heading-text);
    border-radius: 100%;
    margin-right: 20px;
}

.container > img:hover{
    filter:url("../images/icon-view.svg");
    filter: brightness(75%);
    cursor:pointer;
}

@media screen and (max-width:300px){
    .container ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .container ul li:first-child{
        margin-bottom: 1.5rem;
    }

    footer img{width: 2rem;}

}